@import url('reset.css');

:root {
    --primary-color: #11121a;
    --hover-color: #272832;
    --accent-color: #0071FF;
    --text-color: #c9c9c9;
    --font-family: 'Arial Rounded MT Bold', sans-serif;
}

body {
    min-height: 100dvh;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--text-color);
}




